[user]
    name = Zach Rice
    email = zricer@protonmail.com
[alias]
    l = log --name-status
    lg = log --name-status --graph --decorate
    bn = checkout -B 
    co = checkout

[core]
	excludesfile = ~/.gitignore

[includeIf "gitdir:~/code/gitlab/"]
    path = .gitconfig-work

